.avatar-image {
    width: 40px;
    height: 40px;
    /* margin-top: -25px; */
}

#navbarDropdownMenuLink-55 {
    margin-top: -7px;
}

.logo {
    width: 40px;
    height: 40px;
    border: solid 1px black;
}

.edit {
    margin-left: -8px;
}



