{% extends 'blog/base.html' %}
{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <div class="header"><a href="{% url 'user-stats' object.player %}">{{ object.player }}</a></div>

                        <div class="banner-img">
                            <img src="{{ object.image.url }}" alt="Image 1">
                        </div>

                        <div class="dates">
                            <div class="start">
                                <strong>Work Total</strong> {{object.workTotal}}
                                <span></span>
                            </div>
                            <div class="ends">
                                <strong>Break Total</strong> {{object.breakTotal}}
                            </div>
                        </div>

                        <div class="dates">
                            <div class="start">
                                <strong>AVERAGE</strong> {{object.avg}}
                                <span></span>
                            </div>
                            <div class="ends">
                                <strong>POINTS</strong> {{object.points}}
                            </div>
                        </div>

                        <div class="stats">

                            <div>
                                <strong>AT BATS</strong> {{object.atBats}}
                            </div>

                            <div>
                                <strong>RBI</strong> {{object.rbi}}
                            </div>

                            <div>
                                <strong>SLG</strong> {{object.slg}}
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>SINGLES</strong> {{object.singles}}
                            </div>

                            <div>
                                <strong>DOUBLES</strong> {{object.doubles}}
                            </div>

                            <div>
                                <strong>TRIPLES</strong> {{object.triples}}
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>HOME RUNS</strong> {{object.homeRuns}}
                            </div>

                            <div>
                                <strong>LEFT ON BASES</strong> {{object.lob}}
                            </div>

                            <div>
                                <strong>RUNS</strong> {{object.runs}}
                            </div>

                        </div>

                        <div class="stats">

                                <div>
                                    <strong>HITS</strong> {{object.hits}}
                                </div>
    
                                <div>
                                    <strong>RESULT</strong> {{object.result}}
                                </div>
    
                                <div>
                                    <strong>GRAND SLAM</strong> {{object.grandSlam}}
                                </div>
    
                        </div>

                        <div class="stats">

                                <div>
                                    <strong>OFF</strong> {{object.off}}
                                </div>
    
                                <div>
                                    <strong>STOP</strong> {{object.stop}}
                                </div>
    
                                <div>
                                    <strong>AWAY</strong> {{object.away}}
                                </div>
    
                        </div>

                        <div class="stats">

                                <div>
                                    <strong>RISK</strong> {{object.risk}}
                                </div>
    
                                <div>
                                    <strong>SAFE</strong> {{object.safe}}
                                </div>
    
                                <div>
                                    <strong>CREATED</strong> {{object.createdAt | date:'F d, Y'}}
                                </div>
    
                        </div>

                        <div class="footer">
                            <a href="#" class="Cbtn btn-outline-primary" id="checkout-button-Donation">Donate</a>
                            <a href="{% url 'play-card' object.id %}" class="Cbtn btn-primary" >PLAY</a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <!-- Load Stripe.js on your website. -->
    <script src="https://js.stripe.com/v3"></script>

    <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->

    <div id="error-message"></div>

    <script>
    var stripe = Stripe('pk_test_8cniuXbBsA6ilqYqXEYQoIxm');

    var checkoutButton = document.getElementById('checkout-button-Donation');
    checkoutButton.addEventListener('click', function () {
        // When the customer clicks on the button, redirect
        // them to Checkout.
        stripe.redirectToCheckout({
        // items: [{plan: 'Donation', quantity: Number('{{object.donation}}')}],
        items: [{sku: 'sku_FqVc2p6VbiWGVF', quantity: Number('{{object.donation}}') }],
        // Do not rely on the redirect to the successUrl for fulfilling
        // purchases, customers may not always reach the success_url after
        // a successful payment.
        // Instead use one of the strategies described in
        // https://stripe.com/docs/payments/checkout/fulfillment
        successUrl: window.location.protocol + '//127.0.0.1:8000/pomodoro/1/',
        cancelUrl: window.location.protocol + '//rising2dtop.org/canceled',
        })
        .then(function (result) {
        if (result.error) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer.
            var displayError = document.getElementById('error-message');
            displayError.textContent = result.error.message;
        }
        });
    });
    </script>

{% endblock content %}