{% extends "blog/base.html" %}

{% block content %}
    {% for pomodoro in pomodoros %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ pomodoro.image.url }}" alt="">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile' %}">{{ pomodoro.player }}</a>
            <small class="text-muted">{{ pomodoro.createdAt | date:'F d, Y' }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'pomodoro-detail' pomodoro.id %}">{{ pomodoro.title }}</a></h2>
            <p class="article-content">1.{{ pomodoro.task_one }}</p>
            <p class="article-content">2.{{ pomodoro.task_two }}</p>
            <p class="article-content">3.{{ pomodoro.task_three }}</p>
            <p class="article-content">4.{{ pomodoro.task_four }}</p>
        </div>
    </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-primary btn-sm mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-primary btn-sm mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif%}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-primary btn-sm mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-primary btn-sm mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-primary btn-sm mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
            <a class="btn btn-outline-primary btn-sm mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif%}

    {% endif %}
{% endblock %}